@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666490896453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anniu_jiantouxiangzuo_o:before {
  content: "\eb89";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

